
/* clip-path: polygon(25% 25%, 50% 35%, 75% 25%, 75% 75%, 50% 90%, 25% 75%); 
    .clipped {
    clip-path: polygon(49.7% 44.6%, 93.3% 25%, 93.3% 75%, 49.5% 97.1%, 6.7% 75%, 6.7% 25%);
}
*/


.Card-container{
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    justify-content: flex-start;
    /* row-gap: 100px; */
}

.card{
    width: auto;
    /* padding: 15px; */
    border: 1px solid #ddd;
    border-radius: 10px;
    
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    /* clip-path: ellipse(100% 100% at 50% 0%); */
}



.image{
    width: 95%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: multiply;
}

.image img{
    object-fit: contain;
}

.card h2{
    font-size: 18px;
    margin: 10px 0;
}

.card p{
    color: #666;
    margin-bottom: 8px;
}

.card h3{
    color: #0a8f3d;
    font-size: 20px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addtocart{
    width: 150px;
    height: 60px;
    background: #9c9b9b;
    clip-path: polygon(49.7% 44.6%, 93.3% 25%, 93.3% 75%, 49.5% 97.1%, 6.7% 75%, 6.7% 25%);
}