.offercard-container{
    display:flex;
    gap:25px;
    justify-content:center;
    flex-wrap:wrap;
}

.offer-card{
    width:280px;
    height:420px;
    position:relative;
    border-radius:20px;
    overflow:hidden;
}

.top-container{
    height:42vh;
    padding:20px;
    position: relative;  
}

.bottom-container{
    clip-path: path("M0 45 Q140 0 280 45 L280 180 L0 180 Z");
    position: absolute;
    z-index: 1;
    top: 30%;
    height:60vh;
    width: 93%;
}

.offer-img {
    /* mix-blend-mode: multiply; */
    height: 120px;
    margin-top: 20px;
    margin-left: 30px;
}

