.offercard-container{
    display:flex;
    gap:25px;
    justify-content:center;
    flex-wrap:wrap;
    /* margin-top: 6rem; */
}

.offer-card{
    width:280px;
    position:relative;
    border-radius:20px;
    overflow:hidden;
}

.top-container{
    height:42vh;
    padding:20px;
    position: relative;  
}

.bottom-container{
    clip-path: path("M0 30 Q140 0 280 32 L280 180 L0 180 Z");
    position: absolute;
    z-index: 1;
    top: 40%;
    height: 300px;
    width: 93%;
}

.offer-img {
    /* mix-blend-mode: multiply; */
    height: 120px;
    padding: 5px;
    margin-top: 40px;
    margin-left: 40px;
}


/* for the home offer card */

.home-offer-card {
    margin-top: 6rem;
}

.home-offer-card .offer-card{
    height:400px;
}
