
/* hero section css */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.hero {
    background-color: rgb(32, 88, 83);
    height: 50vh;
    display: flex;
    /* justify-content: space-evenly; */
    border-radius: 15px;
    margin-right: 50px;
    margin-left: 50px;
    clip-path: ellipse(100% 100% at 50% 0%);
}

.h1-container {
    color: white;
    font-family: "Lexend", sans-serif;
    line-height: 30px;
}

.p-container {
    color: #ddd;
    line-height: 5px;
}

.shop-btn{
    height: 35px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: rgb(162, 217, 98);
    margin-top: 10px;
}

.heroimg {
    height: 400px;
    /* mix-blend-mode: multiply; */
    /* background: transparent; */
    position: relative;
}

.left-container {
    margin-left: 5rem;
    margin-top: 2.5rem;
    padding-left: 10px;
    padding-right: 10px;
}

.right-container {
    margin-left: 15rem;
    margin-top:1rem;
}

/* hero section end*/

/* product Category tab section css start */

.container{
    display: flex;
    height: 50px;
    justify-content: center;
    margin-top: 4rem;
    /* margin: 10px; */
    display: flex;
    justify-content: space-center;   
}
.category-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.category-container button {
    height: 100px;
    width: 200px;
    margin: 10px;
}

.viewallbtn button {
    margin-top: 10px;
    height: 100px;
    width: 100px ;
    background-color: rgb(144, 246, 97);
    border: none;
    line-height: 30px;
}



.circle {
    background-color: white;
    height: 50px;
    width: 30px;
    border-radius: 60%;
    margin-left: 15px;
}
.arrow {
    width: 30px;
    margin-top: 8px;
    margin-left: -10px;
}
button p {
    margin-right: 80px;
    font-weight: bold;
    font-size: 15px;
}

.img-span {
    margin-left: 75px;
}

.tab-img {
    margin-top: -25px;
}
/* product Category tab section css ends */

/* you might need css start  */

.random-products {
    margin-top: 120px;
}

.random-products h2 {
    margin-left: 80px;
    font-family: "Lexend", sans-serif;
}

.rightarrow {
    height: 20px;
    /* top: 10px; */
}

.sm {
    margin-right: 10px;
}

/* you might need  css end */

/* featured store css start */
   .div-container{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:30px;
    flex-wrap:wrap;
}

.store-card{
    width:360px;
    border-radius:20px;
    overflow:hidden;
    background:#fff;
    box-shadow:0 4px 15px rgba(0,0,0,.12);
}

.store-top{
    height:130px;
    position:relative;
}

.orange{
    background:#f97316;
}

.blue{
    background:#4f46e5;
}

.green{
    background:#59f2b5;
}

.store-logo{
    /* width:80px; */
    height:80%;
    object-fit:contain;
    position:absolute;
    top: 75px;
    /* bottom:-35px; */
}
    
.store-bottom{
    padding:50px 25px 20px;
}

.store-bottom h3{
    margin:0;
    font-size:28px;
    font-weight:600;
}

.store-bottom p{
    margin-top:12px;
    color:#666;
    font-size:18px;
} 
.orangelogo {
    height: 80px;
    width: 80px;
    object-fit:contain;
    position:absolute;
    left:25px;
    bottom:-35px;
}
.heading-container {
    display: flex;
    justify-content: space-between;
}
.heading {
    font-family:"Lexend", sans-serif;
    margin-left: 80px;
}
.vas {
    margin-right: 80px;
}
/* featured store css end */